<%- include('../public/navbar') %>
<div class="container mt-4">
  <div class="card border-secondary">
    <div class="card-header">Nuevo registro</div>
    <div class="card-body">
        <%- include('../public/form') %>
    </div>
  </div>
</div>
